<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cab Booking Sucess!!</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/3799/3799798.png">
    <link rel="stylesheet" href="../../public/assests/css/cabbook.css">
    <link rel="stylesheet" href="../../public/assests/css/cab.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="icon"
        href="https://cdn-user-icons.flaticon.com/116851/116851778/1694933370779.svg?token=exp=1694934288~hmac=c57675246c311010e227300424f0ffb5">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>

<body>
    <div class="container-fluid">
        <div class="bg-secondary row">
            <div class="col-lg-6 icons text">
                <div class="mt-2">
                    &nbsp;<i class="fa-brands fa-facebook-f" style="color: white;"></i>
                    <a href="https://www.instagram.com/sam_sanjay2000/"> <i class="fa-brands fa-instagram"
                            style="color: white;"></i></a>
                    <a href="https://www.instagram.com/sam_sanjay2000/"> <i class="fa-brands fa-twitter"
                            style="color: white;"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="text-end icons text-white mt-2">
                    <i class="fa-solid fa-phone fa-fade"></i><label>&nbsp;9087661022</label>
                    <i class="fa-solid fa-grip-lines-vertical"></i>
                    <a href="cabbooklogin.html" class="signin"> <i class="fa-regular fa-user me-1"></i>Sign in</a>
                </p>
            </div>
        </div>
        <div class="row m-3 p-10 ">
            <div class="col-lg-6">
                <img src="https://cdn-icons-png.flaticon.com/128/1023/1023350.png" width="60px" height="50px">
            </div>
            <div class="col-lg-6 ">
                <div class="navbar">
                    <a href="cabbook.html" class="navs">Home</a>
                    <a href="cabbookabt.html" class="navs">About us</a>
                    <a href="cabride.html" class="navs">Ride Facilities</a>
                    <a href="cabtarrif.html" class="navs">Tarriff</a>
                    <a href="cabcontact.html" class="navs">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="confirm">
            <h2 class="text-center">Home/Confirmation</h2>
            <p class="text-center">Confirmation</p>
            <p class="text-center">
                <img src="https://cdn-icons-png.flaticon.com/128/6109/6109761.png" class="img-fluid">
            </p>
            <div class="text-center">
                <p>Booking Successful!</p>
                <p class="fs-3">Your Booking ID is 34408</p>
            </div>
        </div>


        <div style="background-color: #3feee6;" class="mt-5 justify-content-around">
            <h4 class="text-center p-4">Popular Routes</h4>
            <div class="row justify-content-center font-effect-emboss" style="color: black; padding-bottom: 30px;">
                <div class="col-lg-3 ms-5">
                    <p class=" loc">Chennai</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Madurai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Trichy
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Chennai to Bangalore
                    </label>
                </div>
                <div class="col-lg-3 ">
                    <p class=" loc">Tiruchy</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Madurai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Chennai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Tiruchy to Bangalore
                    </label>
                </div>
                <div class="col-lg-3 ">
                    <p class=" loc">Madurai</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to
                        Coimbatore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Theni
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Chennai
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Madurai to Namakkal
                    </label>
                </div>
                <div class="col-lg-2 ">
                    <p class=" loc">Coimbatore</p>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to
                        Bangalore
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to Theni
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to Karur
                    </label><br>
                    <i class="fa-solid fa-angles-right fa-fade" style="color: #f0f4f9;"></i> <label>Coimbatore to
                        Vellore
                    </label>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/27186d12e4.js" crossorigin="anonymous"></script>
    <script src="cabbook.js"></script>
</body>

</html>